* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containier {
  padding: 20px;
}

.containier__photo {
  display: flex;
  margin-top: 20px;
}

.containier__photo > div {
  margin-right: 15px;
}